.ImageCard {
  display: flex;
  padding: 0;
  text-align: left;
}

.ImageCard--alternate {
  text-align: right;
}

.ImageCard__content {
  flex: 2;
  padding: 1em;
}

.Card--tight .ImageCard__content {
  padding: 0.5em;
}

.Card--loose .ImageCard__content {
  padding: 1.5em;
}

.ImageCard__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  flex: 1;
}

.ImageCard--vertical {
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 500px) {
  .ImageCard__image {
    display: block;
  }
}
