.TitleCard {
  align-items: center;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  text-align: center;
}

.TitleCard--invert {
  color: white;
}
